.menu{
    height: 50px;
    width: 200px;
    background-color: palegoldenrod;
    position: fixed;
    top:0;
    
}
.stick{
    height: 50px;
    width: 200px;
    background-color: brown;
    margin: 200px 0px 0px 200px;
    position: sticky;
    top: 0 ;
}
.caixa{
    position: relative;
    height: 2000px;
    width: 100px;
    background-color: lawngreen;
    top: 50px;
}
.caixaabsoluta{
    height: 20%;
    width: 20%;
    background-color: aqua;
    position: fixed;
    right: 0;
}
.Absoluta{
    height: 50px;
    width: 50px;
    background-color: coral;
    position:absolute;
    right: 25;
} 